[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
"aws-cdk.core" = "~=1.13"
"aws-cdk.aws_iam "= "~=1.13"
"aws-cdk.aws_sqs "= "~=1.13"
"aws-cdk.aws_sns" = "~=1.13"
"aws-cdk.aws_sns_subscriptions" = "~=1.13"
"aws-cdk.aws_s3" = "~=1.13"

[packages]
