*.pyc
*.pyo
.cache
.coverage
.eggs
*.egg-info
build
dist
docs/source/_build
# This is dynamically built at build-time via make
runway/templates/terraform/.terraform-version
.idea
node_modules
.serverless
.venv
# paths usind during build
src/*
tmp/*
artifacts/*
# npm files copied and modified at runtime
.npmignore
package.json
postinstall.js
preuninstall.js

# templates may include normally excluded files
!runway/templates/**/package.json
!runway/templates/**/.npmignore
!integration_tests/**/package.json

# Test artifacts & copied fixtures
tests/fixtures/blueprints/*-result
integration_tests/test_cfngin/tests/[0-9][0-9]_*.yaml

# Programatically generated doc pages
docs/source/apidocs
