!infrastructure/**/**/**/package.json
!runway/templates/**/.npmignore
*.egg-info
*.pyc
*.pyo
.Trash-*
.cache
.coverage
.eggs
.idea
.mypy_cache
.npmignore
.runway
.secrets
.serverless
.terraform
.venv
.vscode/bookmarks.json
artifacts/*
build
cdk.out
dist
docs/source/_build
docs/source/apidocs
node_modules
postinstall.js
preuninstall.js
runway/templates/terraform/.terraform-version
src/*
terraform.tfstate.d
tests/fixtures/blueprints/*-result
tests/functional/terraform/**/.terraform-version
tmp/*
