exclude .coverage
exclude .editorconfig
exclude .env
exclude .envrc
exclude .gitignore
exclude .markdownlint.yml
exclude .pre-commit-config.yaml
exclude .readthedocs.yml
exclude .secrets
exclude .travis.yml
exclude CODE_OF_CONDUCT.md
exclude Makefile
exclude Pipfile
exclude Pipfile.lock
exclude buildspec.yml
exclude package-lock.json
exclude package.json
exclude pyproject.toml
exclude pyrightconfig.json
exclude runway.file.spec
exclude runway.folder.spec
include README.rst
include setup.cfg
prune .cache
prune .demo
prune .git
prune .github
prune .venv
prune .vscode
prune build
prune dist
prune docs
prune infrastructure
prune integration_test_infrastructure
prune integration_tests
prune node_modules
prune npm
prune quickstarts
prune scripts
prune tests
prune typings
recursive-include runway/templates *
