[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
runway = {editable = true,path = "."}
# these don't get pulled into the lock correctly when using ^ with >=3.7
pathlib2 = {version = ">=2.3.0",python_version = '<="3.4"'}
importlib-resources = {version = ">=1.4",python_version = '<"3.7"'}

[dev-packages]
# python3 flake8-docstrings fails with pydocstyle 4:
# https://github.com/PyCQA/pydocstyle/issues/375
# newer versions do not support python2:
# https://github.com/PyCQA/pydocstyle/pull/374
pydocstyle = "<4.0.0"
pep8-naming = "*"
flake8-docstrings = "*"
flake8 = "*"
# pylint and astroid pinned to avoid "Instance of '' has no 'Bucket' member"
# error when using boto3. https://github.com/PyCQA/pylint/issues/3134
pylint = "<2.3.1"
astroid = "<2.2.5"
# stuck at 3.5 till this is resolved https://github.com/pyinstaller/pyinstaller/issues/4674
pyinstaller = "==3.5"
pytest = "<5.0"  # last version that supports 2.7 - allows install with 2/3
pytest-cov = "~=2.8"
mock = "~=3.0.5"
pywin32 = {version = "*",os_name = "== 'nt'"}  # windows only
pywin32-ctypes = {version = "*",os_name = "== 'nt'"}  # windows only
pefile = {version = "*",os_name = "== 'nt'"}  # windows only
moto = "~=1.3"
py = "*"
testfixtures = "~=4.10.0"
setuptools-scm = "~=3.5.0"
