[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
send2trash = "*"
awacs = "*"
awscli = ">=1.16.191<2.0"
docopt = "*"
future = "*"
pyhcl = "*"
typing = {version = "~= 3.7",markers = "python_version < '3.5'"}
yamllint = "*"
zgitignore = "*"
stacker = "~=1.7"
botocore = ">=1.12.111"
boto3 = ">=1.9.111<2.0"
pyyaml = ">=4.1,<=5.1"
cfn_flip = ">=1.2.1"
six = "*"
cfn-lint = "*"
pyOpenSSL = "*"
requests = "*"

[dev-packages]
# python3 flake8-docstrings fails with pydocstyle 4:
# https://github.com/PyCQA/pydocstyle/issues/375
# newer versions do not support python2:
# https://github.com/PyCQA/pydocstyle/pull/374
pydocstyle = "<4.0.0"
pep8-naming = "*"
flake8-docstrings = "*"
flake8 = "*"
pylint = "<=2.3.1"
pyinstaller = "~=3.5"
mock = "~=3.0.5"
pywin32 = {version = "*", os_name = "== 'nt'"}  # windows only
pywin32-ctypes = {version = "*", os_name = "== 'nt'"}  # windows only
pefile = {version = "*", os_name = "== 'nt'"}  # windows only
