[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"runway" = {editable = true, path = "./../../../runway"}
stacker = "*"

[dev-packages]

[requires]
python_version = "3.7"
