[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "<=0.3.9,>=0.2.5"
pexpect = "*"
prettytable = "*"
pyobjc-core = {version = "*",sys_platform = "== 'darwin'"}  # dependency of pyobjc-framework-cocoa not correctly locked
pyobjc-framework-cocoa = {version = "*",sys_platform = "== 'darwin'"}  # required for Send2Trash 1.7.0a0 to work
runway = {editable = true,path = "./.."}
send2trash = "==1.7.0a0"  # previous releases broken on macOS - https://github.com/arsenetar/send2trash/issues/51

[dev-packages]

[requires]
python_version = "3.8"
