[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
runway = {editable = true, path = "./.."}
prettytable = "*"
colorama = "<=0.3.9,>=0.2.5"
pexpect = "*"

[dev-packages]

[requires]
python_version = "3.7"
