[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Sphinx = "~=3.5"
jsx-lexer = "~=1.0"
runway = {editable = true,path = "./.."}
sphinx-rtd-theme = "~=0.5"
sphinx-tabs = "*"
sphinxcontrib-apidoc = "*"
sphinxcontrib-programoutput = "*"
