[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Sphinx = "~=3.2.1"
sphinx-rtd-theme = "~=0.5.0"
runway = {editable = true,path = "./.."}
sphinxcontrib-apidoc = "*"
