-i https://pypi.org/simple
alabaster==0.7.12
babel==2.7.0
certifi==2019.9.11
chardet==3.0.4
docutils==0.15.2
future==0.18.1
idna==2.8
imagesize==1.1.0
jinja2==2.10.3
markupsafe==1.1.1
packaging==19.2
pygments==2.4.2
pyparsing==2.4.2
pytz==2019.3
requests==2.22.0
six==1.12.0
snowballstemmer==2.0.0
sphinx-rtd-theme==0.4.2
sphinx==1.8.1
sphinxcontrib-websupport==1.1.2
urllib3==1.25.6
