**/.egg
**/.travis
**/.vscode
**/codebuild
**/docs
**/integration_tests
**/build
**/dist
**/quickstarts
**/scripts
**/src
**/test
**/tf_test
**/.env
**/.gitignore
**/.pylintrv
**/.travis.yml
**/buildspec.yml
**/Makefile
**/MANAGEST.ini
**/Pipfile*
**/README.rst
**/runway.spec
**/setup*
